.english-font {
  font-family: "CHeiHK-UltraBold", "sans-serif";
}

/* Hides original cursor */

body,
a,
button,
[role="button"],
.clickable {
  cursor: none;
}

a:hover,
button:hover,
[role="button"]:hover,
.clickable:hover {
  cursor: none;
}
