/* styles.css */

body.en {
  font-family: "monospace";
}

body.chn {
  font-family: "SimSun", "SimHei", sans-serif;
}

body.krn {
  font-family: "Nanum Gothic", sans-serif;
}

body.jpn {
  font-family: "Noto Sans JP", sans-serif;
}

body,
a,
button,
[role="button"],
.clickable {
  cursor: none;
}

a:hover,
button:hover,
[role="button"]:hover,
.clickable:hover {
  cursor: none;
}
