/* styles.css */
body {
  font-family: Arial, sans-serif; /* Default font */
}

body.en {
  font-family: "Arial", sans-serif;
}

body.chn {
  font-family: "SimSun", "SimHei", sans-serif;
}

body.krn {
  font-family: "Nanum Gothic", sans-serif;
}

body.jpn {
  font-family: "Noto Sans JP", sans-serif;
}
